# This is a basic workflow to help you get started with Actions

name: Automatizando_meus_testes

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        qt-version: '6.6.0'
        host: 'windows'     
        
    - name: Set up MinGW environment
      run: |
        cd tp
        choco install mingw -y
    
    - name: Build Project
      run: |
        cd tp
        qmake.exe testes_tp.pro -spec win32-g++
        make
      
    - name: Install lcov
      run: |
        choco install lcov
      shell: powershell

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./build/coverage.info
        
   
