# This is a basic workflow to help you get started with Actions

name: Automatizando_meus_testes

on:
  push:
    branches:
      - main

jobs:
 test:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        qt-version: '6.6.0'
        host: 'windows'     
        platform: 'win64_mingw81'
    
    - name: Run Tests
      run: |
        tp/Makefile

    - name: Upload Test Results
      uses: actions/upload-artifact@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: tp/coverage.info
   
